<ibm-modal
size="lg"
[open]="open"
(overlaySelected)="closeModal()" style="z-index:0;">
<ibm-modal-header (closeSelect)="closeModal()">
    <h2 ibmModalHeaderLabel>{{title}}</h2>
    <h3 ibmModalHeaderHeading>{{label}}</h3>
</ibm-modal-header>
<section ibmModalContent hasForm="true">
    <h1 ibmModalContentText class="bx--modal-content__regular-content modal-text">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis finibus erat vel aliquam sodales.
        Phasellus porta velit vel libero pulvinar, sit amet semper purus volutpat.
    </h1>
    <ng-content>

    </ng-content>
    <div class="bx--text-input__field-wrapper">
        <ibm-label helperText="Helper text">
            {{label}}
            <input
                ibmText
                placeholder="Placeholder"
                [autocomplete]="false">
        </ibm-label>
    </div>
</section>
<ibm-modal-footer>
    <button class="bx--btn bx--btn--secondary" (click)="secondaryAction.emit()">Show secondary modal</button>
    <button class="bx--btn bx--btn--primary" (click)="primaryAction.emit()">Close</button>
</ibm-modal-footer>
</ibm-modal>